/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  /* 740px */
  .header {
    &-search {
      display: none;
    }
  }

  .subnav {
    display: none;
  }
  .subnav-mobile {
    display: block;
  }
  .product {
    &-title {
    }
    &-list {
      &-item {
        width: calc((100% - 12px) / 3);
      }
    }
  }
}

@media (max-width: 74.125em) and (min-width: 45em) {
    .subnav {
        display: none;
      }
      .subnav-mobile {
        display: block;
      }
}

/* Moble  */
@media (max-width: 46.1875em) {
  .header {
    &-search {
      display: none;
    }
  }
  .subnav {
    display: none;
  }
  .subnav-mobile {
    display: block;
  }

  .product {
    &-title {
    }
    &-list {
      &-item {
        width: 100%;
      }
    }
  }
  .hidden-mobile {
    display: none !important;
  }
  .hidden-pc {
    display: block;
  }
}
